.venue-list {
    margin: 0 auto;
    list-style: none;
    padding: 0;
}

.venue {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #fff;
    padding: 25px;
    border-radius: 3px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.16);
    margin-bottom: 20px;
}

.venue__title {
    margin: 0 0 10px;
    font-size: 1.5em;
    font-weight: 700;
}

.venue__meta {
    font-size: 0.9em;
    position: relative;
    width: 100%;
}

.venue__directions {
    position: absolute;
    right: 0;
    bottom: 0;
}