.venue_filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.venue_filters__button {
    font-size: 1rem;
    padding: .375rem 1rem;
    border-radius: 30px;
    margin-right: 15px;
    background: #fff;
    line-height: 1.5;
    border: 0;
    user-select: none;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.16);
    cursor: pointer;
    outline: 0;
    transition: color .15s ease-in-out,
                background-color .15s ease-in-out;
}

.venue_filters__button:active,
.venue_filters__button:hover,
.venue_filters__button--active {
    color: #fff;
    background: #2980B9;
}

.venue_filters__distance {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 240px;
}

.venue_filters__distance_slider {
    width: 100%;
}

.venue_list {
    margin: 0 auto;
    list-style: none;
    padding: 0;
}

.venue {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #fff;
    padding: 25px;
    border-radius: 3px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.16);
    margin-bottom: 20px;
}

.venue__title {
    margin: 0 0 10px;
    font-size: 1.5em;
    font-weight: 700;
}

.venue__meta {
    font-size: 0.9em;
    position: relative;
    width: 100%;
}

.venue__directions {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #2980B9;
    text-decoration: none;
    font-weight: 700;
}